nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    border: 2px solid rgb(65, 65, 65);
    background: none;
    cursor: pointer;
    padding: 0.65rem 1rem;
    outline: none;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;

    @media handheld {
      &:hover {
        background: none;
        color: black;
        border: 2px solid rgb(65, 65, 65);
      }
    }

    @media screen and (min-width: 800px) {
      &:hover {
        background: rgb(65, 65, 65);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
